/* 
Scale down image to fit screen size
Set max-width to a huge number to ensure img show as its original size
*/
img.scalable {
  max-width: 100vw;
  width: auto;
  -webkit-transition: max-width 0.5s 0.5s;
  transition: max-width 0.5s 0.5s;
}

/* Scale up to original size when hovering */
img.scalable:hover {
  max-width: 5000px;
  -webkit-transition: max-width 0.25s 0.5s;
  transition: max-width 0.25s 0.5s;
}

/*  Center top pagination */
.Reduction_top + .wrap > .page_turning {
  text-align: center !important;
}
